$gray: #555;
$white: #FFF;

$linkColor: #0AF;
$linkColorHover: darken($linkColor, 15%);

$baseBorderRadius: 2px;
$borderRadiusLarge: 3px;
$borderRadiusSmall: 2px;

$btnBackground: #F6F6F6;
$btnBackgroundHighlight: #EAEAEA;
$btnBorder: #CFCFCF;
$btnDangerBackground: #F53924;
$btnDangerBackgroundHighlight: #ED2C17;
$btnInfoBackground: #00CFFF;
$btnInfoBackgroundHighlight: darken($btnInfoBackground, 4%);
$btnPrimaryBackground: #54AAFF;
$btnPrimaryBackgroundHighlight: #4A96E8;
$btnSuccessBackground: #0ECD27;
$btnSuccessBackgroundHighlight: #0ABA1D;
$btnWarningBackground: #FFA658;
$btnWarningBackgroundHighlight: #F49645;

$dropdownLinkBackgroundActive: lighten($linkColor, 5%);
$dropdownLinkBackgroundHover: darken(#3ECAF4, 10%);
$dropdownLinkColorActive: $white;

$navbarBackground: #F3F3F3;
$navbarBackgroundHighlight: #F9F9F9;
$navbarBorder: #DDDDDD;
$navbarLinkBackgroundActive: lighten($navbarBackground, 25%);
$navbarLinkColor: $gray;
$navbarLinkColorHover: $linkColorHover;
$navbarText: $navbarLinkColor;

$errorBackground: #FEE5E2;
$errorBorder: #FCACA5;
$errorText: #B50303;
$infoBackground: #CEF1FC;
$infoBorder: darken($infoBackground, 10%);
$infoText: #12718F;
$successBackground: #F1FBD1;
$successBorder: #BCE830;
$successText: #488F06;
$warningBackground: #FFFBDC;
$warningBorder: #F1D875;
$warningText: #BF7900;

/* Custom Color */
$bkColor: #FFF;
$themeMainColor: #DF5946;

/* CIA color */
$colorBlack: #000000;
$colorWhite: #ffffff;
$menuBorderTop: #ececec;
$menuSelected: #516b3c;
$footerGreen: #016f4a;
$footerGreenLight: #77b758;