/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import "compass";
@import "mixins";
@import "aui_variables";

html {
    height: 100%;

    body {
        height: 100%;
    }
    
    input:-webkit-autofill {
    	background-color: white !important;
	}

	/* ---------- Bootstrap Conflict ---------- */   
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    	margin: 0;
    	padding: 0;
    }
    
    .row{
    	margin: 0;
    }
		 
	.signed-in .collapse {  display:block;  } 
	.lfr-edit-layout-panel .collapse{  display:block; } 
	.dockbar.navbar-static-top .collapse {      display: block;  } 
	.navbar-inner .collapse{     display:block;   } 
	.dockbar-ready section#content {    padding: 0 0 0 0;  }
 
	.dockbar.navbar-static-top {
  		background-color: transparent;
  		padding: 0px;
	}
	.dockbar-messages{ 
		display:none;
	}
 
	.lfr-device-preview{
		z-index: 1000;
	}
 
	.modal{
		display:block;
	}
 
	.modal-hidden{
		display:none;
	}

	/* ---------- Wrapper ---------- */

	#wrapper {
    	background-color: $white;
    	margin: 0 auto;
    	max-width: 100%;
    	padding:0;
    	position:relative;
	}
	
	/* ---------- CIA Navigation Bootstrap ---------- */
	#cia-bootstrap-menu.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	    margin: 0;
	}
	
	#cia-bootstrap-menu.navbar .navbar-collapse {
	    text-align: center;
	}
	
	#cia-bootstrap-menu.navbar-default .navbar-brand {
	    color: rgba(119, 119, 119, 1);
	}
	#cia-bootstrap-menu.navbar-default {
	    font-size: 14px;
	    background-color: $colorWhite;
	    border-width: 0px;
	    border-radius: 0px;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-bottom: 0px;
	}
	#cia-bootstrap-menu.navbar-default .navbar-nav>li {
	    /* border-left: 1px solid $menuBorderTop; */
	}
	#cia-bootstrap-menu.navbar-default .navbar-nav>li:first-child {
		/* border-left: none; */
	}
	
	#cia-bootstrap-menu.navbar-default .navbar-nav>li>a {
	    color: $colorBlack;
	    background-color: $colorWhite;
	}
	#cia-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
	#cia-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
	    color: $colorBlack;
	    background-color: $colorWhite;
	    border-top: 3px solid $menuSelected;
	}
	#cia-bootstrap-menu.navbar-default .navbar-nav>.active>a,
	#cia-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
	#cia-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
	    color: $colorBlack;
	    background-color: $colorWhite;
	    border-top: 3px solid $menuSelected;
	}
	
	.cia-logo{
		width: 150px;
		height: 150px;
		float: right;
		z-index: 999;
	    position: relative;
	}
	
	.cia-header{
		margin-top: 10px;
	    border-top: 1px solid $menuBorderTop;
	}
	
	/* ---------- CIA Login PopUp ---------- */
	
	.portlet-login .sign-in-form{
		margin: 0 0 8px;
	}
	
	.portlet-login .sign-in-form fieldset {
		padding-left: 10px;
	}
	
	.portlet-login .sign-in-form .fieldset input{
		width: 100%;
		height: 40px;
		border-color: #016f4a;
    	border-width: 2px;
    	border-radius: 5px;
	}
	
	.portlet-login .form .fieldset input{
		width: 100%;
		height: 40px;
		border-color: #016f4a;
    	border-width: 2px;
    	border-radius: 5px;
    	max-width: none !important;
	}
	
	.portlet-login .sign-in-form .fieldset label{
		display: none;
	}
	
	.portlet-login .sign-in-form .fieldset h4{
		color: $footerGreen;
		text-align: center;
	}
	
	.portlet-login .sign-in-form .fieldset .help-inline{
		display: none;
	}
	
	.portlet-login .sign-in-form .button-holder{
		margin: 0;
	}
	
	
	.portlet-login .sign-in-form .button-holder .btn, .portlet-login .form .button-holder button{
		margin-left: 10px;
    	width: 100%;
    	height: 40px;
    	background-color: $footerGreen;
    	background-image: -webkit-linear-gradient(top, $footerGreen, $footerGreen);
    	background-image: -moz-linear-gradient(top, $footerGreen, $footerGreen);
	}
	
	.portlet-login .navigation {
	    background: none;
	    border-top: 0;
	    padding-left: 21px;
    	padding-top: 0;
    	padding-right: 0;
    	height: 40px;
	}
	
	.portlet-login .navigation .btn{
		width: 49%;
		color: white;
	    background-color: $footerGreenLight;
    	background-image: -webkit-linear-gradient(top, $footerGreenLight, $footerGreenLight);
    	background-image: -moz-linear-gradient(top, $footerGreenLight, $footerGreenLight);
    	height: 40px;
    	text-shadow: none;
	}
	
	.cia-sign-in{
		margin-top: 10px;
		width: 25px;
	}

	#loginPopUp {
		width: 500px;
		height: 300px;
		display: none;
	}
	
	/* ---------- CIA Form Registrazione ---------- */
	
	.nav-tabs.nav-justified {
		margin-bottom: 0;
	}
	
	.cia-user-registration-tab{
		padding: 20px 20px 0px 20px;
	}
	
	.nav-tabs.nav-justified a, .nav-tabs.nav-justified > .active > a{
		color: $colorWhite;
	} 
	
	.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover {
		background-color: $footerGreen;
		border-top-left-radius: 15px;
    	border-top-right-radius: 15px;
    	color: $colorWhite;
	}
	
	.nav-tabs.nav-justified > li > a, .nav-tabs.nav-justified > li > a:hover {
		background-color: $footerGreenLight;
		border-top-left-radius: 15px;
    	border-top-right-radius: 15px;
    	color: $colorWhite;
	}
	
	/* ---------- CIA Language ---------- */
	
	.cia-language{
		margin-top: 10px;
		width: 25px;
	}
	
	/* ---------- CIA Home Carousel ---------- */
	
	.cia-carousel{
		margin-top: -60px;
	}
	
	.cia-carousel .carousel {
		margin-top: -60px;
	}
	
	.cia-carousel .carousel-control {
		top: 50%;
		margin-left: 35px;
	}
	
	.cia-carousel .carousel-indicators{
		left: 0;
		width: 20px;	
	}
	
	/* ---------- Banner ---------- */
	
	#banner {
	    background-color: $bkColor;
	
	    #heading {
	        padding: 0 4%;
	
	        .site-title {
	            .logo {
	                padding-bottom: 16px;
	            }
	        }
	
	        .page-title {
	            color: $themeMainColor;
	            font-style: oblique;
	            text-transform: uppercase;
	        }
	    }
	
		/* ---------- Main Navigation ---------- */
	
		#navigation {
		    background-color: $white;
		    display: block;
		    position: relative;
		    z-index: 1;
		    top: 15px;
		    border-top: 1px solid $menuBorderTop;
		
		    .selected{
		        border-top: 3px solid $menuSelected;
		            > a {
		                
		            }
		    }        
		
		    .dropdown-menu li {
		        background: #00ACFF;
		        border-width: 0;
		        margin: 0;
		        position: relative;
		
		        &:after, &:before {
		            border-width: 0;
		        }
		
		        a {
		            color: #FFF;
		
		            &:hover {
		                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		            }
		        }
		    }
		
		    li {
		        margin: 0 4px;
		        padding: 15px 10px;
		        position: absolute;
		        
		
		        &:hover {
		            border-top: 1px solid red;
		
		            .child-menu {
		                display: block;
		                margin-top: 0;
		            }
		
		            a {
		                color: #FFF;
		                text-decoration: none;
		                span{
		                	border-right: 1px solid $menuBorderTop;
		                	padding-right: 10px;
		               		padding-left: 10px;
		                }
		            }
		        }
		    }
		
		    ul {
		    	text-align: center;
		    	
		        li {
		            &:hover {
		            background-color:#00C4FF;
		                .child-menu {
		                    display: block;
		                    padding: 0;
		                    li {
		                        background-color: $themeMainColor;
		                        &:hover {
		                            background-color: #00C4FB;
		                        }
		                    }
		                    a {
		                        color: #FFF;
		                        margin: -10px;
		                        text-decoration: none;
		                        
		                    }
		                }
		            }
		        }
		    }
		
		    > ul > li {
		        display: inline-block;
		        font-size: 1.2em;
		        position: relative;
		
		        a {
		            color: $gray;
		            padding: 15px 10px;
		        }
		    }
		}
	}

	/* ---------- Content ---------- */
	
	/* ---------- Home Form Search ---------- */
	.search-form {
    		
    	margin-top: -110px;
	    /*text-align: center;
	    padding: 25px;*/
	    
	    input[type="radio"]:checked {
	    	background-color: $footerGreen;
	    }
	    
	    .cia-row-form {
	    	margin: 0;
	    }
	    
	    .cia-column-search {
	    	
	    	padding-left: 20%;
	    	padding-right: 20%;
	    }
	    
	    .cia-field-place {
	    	width: 330px;
	    	height: 34px;
	    	border-color: $footerGreen;
	    	border-width: 2px;
	   	 	border-radius: 5px;
	    }
	    
	    .cia-field-date {
	    	width: 140px;
	    	height: 34px;
	    	border-color: $footerGreen;
	    	border-width: 2px;
	   	 	border-radius: 5px;
	   	 	margin-left: 10px;
	    }
	    
	    .cia-btn-search {
	    	color: $colorWhite;
	    	background-image: none;
    		background-color: $footerGreen;
	    }
	    
	    .glyphicon.glyphicon-calendar {
	    	font-size: 20px;
	    	padding-left: 5px;
	   	 	padding-right: 5px;
	    }
	    
	    form {
	    	background-color: $colorWhite;
	    	padding-top: 10px;
	    	padding-bottom: 10px;
	    	padding-left: 15px;
	    	border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			box-shadow: inset 0 20px 15px -20px rgba(0,0,0,0.8);
			
	    }
    }
    
    /* ---------- Home Main Content ---------- */
	.main-row {
		background: #eaeaea;
		margin: 0 !important;
	} 
	
	.region-list {
		padding-top: 1px;
		padding-bottom: 1px;
		background-color: rgba(86, 61, 124, 0.0);
		border: 0px solid #ddd;
		border: 0x solid rgba(86, 61, 124, 0.5);
		
		a {
			color: rgba(128,128,128,1);
		}
		
		a:hover{
			color: $footerGreen;
			text-decoration: underline;
		}
		
		a:focus{
			color: $footerGreen;
			text-decoration: underline;
		}
	}
	
	.main-evidenza{
		bottom: 10px;
		
		.evidenza {
		
			display: inline-block;
			background-color: #f3f3f3;
			height: 100%;
			margin-top: 10px;
			margin-left: 0px;
			
			img {
				float: left;
				width: 300px;
				height: 180px;
			}
			
			.main-descrizione {
				padding-top: 0px;
				height: 180px;
				border-top-width: 0px;
				padding-top: 7px;
				padding-bottom: 0px;
				border-left-width: 0px;
				margin-right: 0px;
				margin-left: 0px;
				margin-bottom: 20px;
				
				.row-descrizione {
					margin-left: 20px;
    				margin-right: 15px;
				}
				
				.titolo {
					font-weight: bold;
					font-size: 11px;
				}
				
				.prezzo {
					font-size: xx-small;
					font-style: italic;
				}
			
				.dettagli {
					font-size: 10px;
					text-align: right;
					
					a {
						color: $footerGreen;
					}
				}
				
				.descrizione {
					font-size: 10px;
					height: 110px;
				}
			}
		}
	}
    
    /* ---------- Home Category Box ---------- */
    
    .carousel-inner>.item {
		position: relative;
		display: none;
		-webkit-transition: 5s ease-in-out left;
		-webkit-transition-duration: 2s;
		-moz-transition: 5s ease-in-out left;
		-o-transition: 5s ease-in-out left;
	}

	.sequenzaMMC {
		border: 0px solid #ddd;
		border: 0px solid rgba(86, 61, 124, .2); 
		[ class *="col-"] { 
			border:0px solid #ddd;
			border: 0px solid rgba(86, 61, 124, .2);
			padding: 10px;
		}
		.diapositiva{ 
			.MarMonCol{
				right:10px;
				bottom: 75px;
				font-size: 19px;
				position: absolute;
				left: 0;
				right: 10px;
				padding: 16px;
				padding-left: 16px;
				margin-left: 240px;
				background: #333;
				background: rgba(0, 0, 0, 0.45);
			}
		}
		.carouselText {
			text-align: center;
			font-size: 45px;
			background: #f2f2f2;
		}
	}
	.carousel-indicators {
		width: 200px;
		height: 50px;
	}

	/* ---------- Footer ---------- */
	footer{
		
    	.footer-menu{
    		background-color: $footerGreen;
    		color: $colorWhite;
    		text-align: center;
    		padding: 25px;
    		
    		.cia-column-mneu{
    			width: 15%;
    			left: 20%;
    		}
    	}
    	.footer-social{
    		background-color: $footerGreenLight;
    		
    		
    	}
    	.social-icon{
    		padding: 20px;
    		img{
    			width: 45px;
    			height: 45px;
    			margin-left: 25px;
    		}
    		
    	}	
    	.footer-logo{
    		padding: 20px;
    		img{
    			width: 300px;
    			float: right;
    		}
    	}
	}

}