@import url(base.css);

@import url(application.css);

@import url(layout.css);

@import url(dockbar.css);

@import url(navigation.css);

@import url(portlet.css);

@import url(custom.css);

@import url(bootstrap.css);

html, body {
    height: 50%;
    margin: 0;
    padding: 0;
}
#map { width: 500px; height: 400px; }

.pac-container:after{
    content:none !important;
}

