@import "aui/variables";
@import "aui_variables";
@import "aui/mixins";
@import "compass";

/* ---------- Portlet Title and Borders ---------- */
    	.portlet-borderless-bar {
			display: none;
		}
	
		.portlet-topper {
			display: none;
		}
	
		.portlet-title {
			display: none;
		}